cftime==1.6.0
cloudpickle==2.1.0
dask==2022.6.0
fsspec==2022.5.0
locket==1.0.0
netCDF4==1.5.8
numpy==1.22.4
packaging==21.3
pandas==1.4.2
partd==1.2.0
plotly==5.8.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
Shapely==1.8.2
six==1.16.0
tenacity==8.0.1
toolz==0.11.2
xarray==2022.3.0
